input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gcalendar{
    position: fixed !important;
    margin-top: 2.25rem;
}

.gcalendar tbody td:hover{
    background-color: var(--bs-gray-300);
}

.gcalendar tbody td.current-date{
    font-weight: bold;
    color: var(--primary);
}