@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-VariableFont_wght.ttf'), url('../font/Nunito-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans-VariableFont_wght.ttf'), url('../font/OpenSans-Italic-VariableFont_wght.ttf');
}
/*font-size*/
:root{
    --g-font-size: .75rem;
    --g-ifont-size: .85rem;
    --g-font-weight: 500;
}

body{
    --bs-body-font-family: 'Nunito' !important;
    --bs-body-font-weight: var(--g-font-weight) !important;
    --bs-body-font-size: var(--g-font-size) !important;
    --bs-nav-link-font-size: var(--g-font-size) !important;
    --bs-nav-link-color: #000;
}

.btn,
.dropdown-menu,
.form-control,
.form-select {
    font-size: var(--g-font-size) !important;
    font-weight: var(--g-font-weight) !important;
}

.btn i {
    font-size: var(--g-ifont-size) !important;
}

.accordion-button {
    font-size: var(--g-font-size) !important;
}
/*end font-size*/

/*sidebar*/
.sidebar {
    min-height: 100vh;
    height: auto;
    padding: 1rem;
}

.sidebar.show {
    width: 16.5rem;
    transition: width .2s ease-in-out;
}

.sidebar.hide {
    width: 0;
    padding: 0;
    transition: width .2s;
}

.sidebar.hide .menu-group,
.sidebar.hide img.user-profile,
.sidebar.hide .btnToggleSidebar,
.sidebar.hide .btn,
.sidebar.hide .accordion {
    display: none !important;
}

.sidebar.hide~.content-wrapper {
    width: 100%;
}

.sidebar .accordion-item {
    background-color: transparent;
    border: none;
}

.sidebar .accordion-button {
    background-color: transparent !important;
    color: #fff !important;
    padding: 1rem .5rem;
}

.sidebar .accordion-body {
    background-color: #fff;
    color: #000;
    border-radius: var(--bs-border-radius);
    padding: .5rem !important;
}

.sidebar .accordion-button:not(.collapsed) {
    box-shadow: none;
}

.sidebar .accordion-button:not(.collapsed)::after {
    content: '\f0d8';
    transform: none;
}

.sidebar .accordion-button::before,
.sidebar .accordion-button::after {
    background-image: none !important;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    width: 1.5rem;
    margin-top: -.25rem;
}

.sidebar .accordion-button::before {
    content: '\f07b';
    text-align: left;
}

.sidebar .accordion-button::after {
    content: "\f0d7";
    text-align: right;
}

.sidebar .menu-header,
.sidebar .menu-item {
    display: flex;
    cursor: pointer;
}

.sidebar .menu-item {
    padding: .5rem 1rem;
}

.sidebar .menu-item:hover {
    background-color: #eaecf4;
    border-radius: var(--bs-border-radius);
}

.sidebar .menu-group {
    padding: 0 !important;
}

.sidebar .menu-group button {
    padding: .5rem !important;
}

.sidebar img.user-profile {
    width: 64px;
    height: auto;
}

/*end sidebar*/

/*content wrapper*/
.content-wrapper {
    width: calc(100% - 16.5rem);
    height: 100vh;
}

.content {
    width: 100%;
    height: 100vh;
    padding: 0 1rem;
}

/*end content wrapper*/

.tab-pane {
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
    min-height: calc(100vh - 10rem);
    height: auto;
}

/*topbar*/
.topbar {
    min-height: 5rem;
    width: 100%;
    padding: .75rem 1.25rem;
}

.topbar .dropdown-toggle.nav-item {
    padding: .5rem 1rem;
    cursor: pointer;
}

/*end topbar*/

/*form-control*/
.table .form-control:read-only {
    border: none;
    background-color: transparent;
}

.table th.sorted-asc::after,
.table th.sorted-desc::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    width: 1.5rem;
    float: right;
}

.table th.sorted-asc::after {
    content: '\f0d8';
}

.table th.sorted-desc::after {
    content: '\f0d7';
}

.form-control:read-only {
    background-color: var(--bs-card-cap-bg);
}

.form-control[type=file] {
    display: none;
}

.form-control[type=file] label {
    border: 1px solid red;
}

/*end form-control*/

/*form-check*/
/* div.form-check {
    padding-left: 0;
} */

div.form-check-inline {
    margin-right: 0;
}

input[type=radio].form-check-input {
    display: none;
}

input[type=radio].form-check-input~label {
    border: 1px solid #0d6efd;
    color: var(--bs-secondary);
    padding: 0 .25rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    transition: background-color .5s ease-in-out;
}

input[type=radio].form-check-input:checked~label {
    background-color: #0d6efd;
    color: #fff;
}

/*end form-check*/

/*table-responsive*/
.table-responsive .table {
    min-width: 100%;
    width: max-content !important;
}

/*end table-responsive*/

/*GModal*/
table tbody tr.selected {
    background-color: var(--bs-primary);
    color: #fff;
    font-weight: bold;
    font-style: italic;
}

/*end GModal*/

/*report accordion*/
.report.accordion .accordion-header {
    --bs-accordion-active-bg: rgba(0, 0, 0, 0.03);
}

.report.accordion .custom-toggle{
    color: #000;
    border: none;
    background-color: transparent;
    width: 15rem;
    text-align: left;
    border-right: 1px solid rgba(0, 0, 0, 0.175);
}

.report.accordion .custom-toggle::before{
    text-align: center;
    vertical-align: 0;
    font-weight: 900;
    font-family: 'Font Awesome 6 Free';
    content: '\f0d7';
    margin-right: .5rem;
}

.report.accordion .custom-toggle.collapsed::before{
    content: '\f0d8';
}
.report.accordion{
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
}
/*end report accordion*/

/*custom*/
.w-10 {
    width: 10% !important;
}

.w-80 {
    width: 80% !important;
}

.btn-filter::after,
.btn-filter::before {
    text-align: center;
    vertical-align: 0;
    font-weight: 900;
    font-family: 'Font Awesome 6 Free';
}

.btn-filter::after {
    width: 1.5rem;
    float: right;
    content: '\f0d7';
    margin-right: -.5rem;
}

.btn-filter::before {
    width: 2.5rem;
    float: left;
    margin-left: -.85rem;
    margin-right: .5rem;
    border-right: 1px solid #fff;
    content: '\f0b0';

}

th,
td {
    vertical-align: middle;
}

/* .table{
    width: max-content;
} */

.card-body {
    overflow-x: auto;
}

/*end custom*/

@keyframes growIn {
    0% {
        transform: scale(.9);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

@media (max-width : 767px) {

    .sidebar.show,
    .content-wrapper {
        width: 100%;
    }

    .sidebar.show~.content-wrapper {
        display: none !important;
    }

    .sidebar.hide {
        width: 0;
    }

    .sidebar.hide~.content-wrapper {
        display: flex !important;
    }

    .btn {
        font-size: 0;
    }

    .btn i {
        font-size: .85rem !important;
    }

    .table {
        width: max-content;
    }
}